body {
    margin: 0;
}

#navigation-bar {
    position: fixed;
    top: 0;
    width: 100%;
    transition: top 0.3s;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #2e3440;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    margin: 5px;
    text-decoration: none;
}

li a:hover {
    background-color: #3b4252;
}
#imagehe img {
    position: absolute;
    top: 70px;
    margin-left: 30px;
}

#imageheh img {
    position: fixed;
    top: 600px;
    margin-left: 30px;
}
